{% extends "CesiBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Les formations {% endblock %}

{% block content %}
            
    <div>
        {{ form(form) }}
    </div>

{% endblock %}
