{% extends "::layout.html.twig" %}

{% block body %}

    <div style="margin-top: 100px" class="panel panel-default">
        <div class="panel-body">
            {% block content %}
            {% endblock %}
        </div>
    </div>


{% endblock %}
